@media (max-width: 1200px) {
   .media    {
       display: none;
   }

    .media__menu {
        left: 0;
        right: 0;
        position: absolute;
        top:-600px;
        padding-bottom: 100px;
        transition: all .2s ease;
    }

    .example {
        display: none;
    }

    .expert {
        display: none;
    }
}

@media (max-width: 991px) {

    .media__header {
        padding: 36px 40px 36px 36px;
    }


    .media__inner {

        display: flex;
        justify-content: space-between;

    }

    .logo {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #252B42;
    }

    .fa-shopping-cart {
        margin: 0 35px 0 25px;
    }

    .media__icon {
        display: flex;
    }

    .burger__active {
        width: 25px;
        display: flex;
        flex-direction: column;
        cursor:pointer;
    }

    .burger__active span:nth-child(1){
        display: inline-block;
        width: 25px;
        height: 2px;
        background: #737373;
        transition: all .5s ease-in-out;
    }

    .burger__active span:nth-child(2){
        display: inline-block;
        width: 20px;
        height: 2px;
        margin: 5px 0 5px 5px;
        background: #737373;
    }

    .burger__active span:nth-child(3){
        display: inline-block;
        width: 15px;
        height: 2px;
        margin: 0  0  0 10px;
        background: #737373;
    }

    .burger__btn span:nth-child(2){
        display: inline-block;
        width: 25px;
        height: 2px;
        margin: 5px 0 5px 0;
        background: #737373;
        transition: all .5s ease-in-out;
    }

    .burger__btn span:nth-child(3){
            display: inline-block;
            width: 25px;
            height: 2px;
             margin: 0 ;
            background: #737373;
            transition: all .5s ease-in-out;
        }


    .media__menu {
        padding-top: 100px;
        text-align: center;
        background: #FFFFFF;

    }


    .burger {
        display: block;
        position: absolute ;
        top: 65px;
        transition: all .2s ease;
    }

    .media__menu-list {
        list-style-type: none;
    }

    .media__menu-list_item:not(:last-child) {
        margin-bottom: 30px;
    }

    .media__menu-link {
        font-weight: normal;
        font-size: 30px;
        line-height: 45px;
        color: #737373;
    }



    .header__inner {
        display: none;
    }

    #hero {
        background: url(../image/background/mediabg.png);
        background-size: cover;
       background-repeat: no-repeat;
        background-position-y: center;
        padding: 200px 0;
    }

    .hero__title {
        font-size: 40px;
        line-height: 57px;
        width: 350px;
        text-align: center;
    }

    .hero__desc  {
        display: none;
    }

    .media   {
        display: block;
        width: 280px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #737733;
    }

    .btn__get-now {
        margin: 0 0 25px 0;
    }
    .btn__learn-more {
        margin: 0 0 80px 0;
    }

    .row {
        flex-direction: column;
        align-items: center;
        margin: -30px 0;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col-4 {
        padding: 30px 0 ;
    }

    .hero__bottom-block {
        position: static;
    }

    .hero__bottom-block_item {
        position: static;
    }

    #why {
        padding: 100px 0;
    }



    .why__title {
        font-size: 40px;
        line-height: 57px;
        width: 250px;
        text-align: center;
        margin: 0 auto;
    }

    .why__desc {
        font-size: 14px;
        line-height: 20px;
        width: 223px;
        text-align: center;
    }


    #practice {
        padding: 100px 0;
    }


    .practice__title {
        font-size: 40px;
        line-height: 57px;
        width: 180px;
        margin: 0 auto;
        text-align: center;
    }


    .practice__desc {
        display: none;
    }

    .example {
        display: block;
        margin: 0 auto;
        padding: 10px 0 75px 0;
        width: 223px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #737373;
    }

    .col-3 {
        padding: 30px 0;
    }

    #service {
        padding: 100px 0;

    }

    .service__title {
        display: none;
    }

    .expert {

        display: block;
        width: 315px;
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        color: #252B42;
    }

    .service__desc {
        width: 223px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }

    .service__item-title {
        margin-top: 70px;
    }


    .col-2 {
        padding: 60px 0;
    }

    .subscribe__inner {
        position: static;
    }

    .subscribe__content {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .subscribe__content-item {
        width: 337px;
    }

    .subscribe__title {
        margin-bottom: 30px;
    }

    #touch {
        padding: 75px 0;
    }

    .touch__title {
        margin: 0 auto;
        text-align: center;
        width: 275px;
        font-size: 40px;
        line-height: 57px;
    }

    .touch__desc {
        width: 265px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }

    .touch__location {
        top: 0;
    }


    .consulting__content {
        display: block;

    }

    .consulting__title {
        width: 241px;
        display: block;
        margin: 0 auto;
    }

    .consulting__desc {
        width: 184px;
        padding: 10px 0 50px 0;
        margin: 0 auto;
    }

    .contact__us {
        margin: 0 auto;
    }

    #foot__nav {
        padding: 55px 0;
    }

    .foot-nav__col-2 {
        padding: 30px 0;

    }


    .foot__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  .foot__nav-block {
      margin-left: 85px;
  }

    .footer__title {
        width: 231px;
        margin: 25px 0 50px 0;
    }

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}


